* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    border-bottom: 1px solid #fff;
    transition: 0.3s;
}

.footer-content {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    text-align: center;
    padding: 10px 0;
    z-index: 999;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    size: 0.6rem;
}

.container {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5rem;
    max-width: 80vw;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    font-family: Arial, sans-serif;
    z-index: 999;
}

.container #content-signature {
    margin-bottom: 10px;
}

.content #content-name {
    font-size: 1.5rem;
    margin: 1rem 0;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.animation_steps h2 {
    font-size: 1rem;
    margin: 1rem 0;
}

.content p {
    font-size: 0.8rem;
    margin: 1rem 0;
}

#content-decorate {
    font-size: 0.8rem;
    margin: 1rem 0;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

html {
    background-color: #f5f5f5;
}

.hide {
    display: none;
}

.show {
    display: block;
}


#animated_left_masks {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255);
    z-index: 1;
    animation: animated_left_masks 3s;
    animation-fill-mode: forwards;
}

#animated_right_masks {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255);
    z-index: 1;
    animation: animated_right_masks 3s;
    animation-fill-mode: forwards;
}

@keyframes animated_left_masks {
    0% {
        width: 50%;
    }

    100% {
        width: 0;
    }
}

@keyframes animated_right_masks {
    0% {
        width: 50%;
    }

    100% {
        width: 0;
    }
}


.animation_steps .element {
    opacity: 0;
    animation: fadeInOut 2s forwards;
}

/* 第一个元素 */
.animation_steps .step1 {
    animation-delay: 0s; /* 第一个元素立即开始 */
}

/* 第二个元素 */
.animation_steps .step2 {
    animation-delay: 2s; /* 第二个元素延迟2秒开始 */
}

/* 第三个元素 */
.animation_steps .step3 {
    animation: blink 2s infinite;
    animation-delay: 4s; /* 第三个元素延迟4秒开始 */
}

/* 动画关键帧 */
@keyframes fadeInOut {
    0% {
        opacity: 0; /* 动画开始时不可见 */
    }
    50% { /* 元素显示 */
        opacity: 1;
    }
    100% { /* 元素消失 */
        opacity: 0;
    }
}